# Python
__pycache__
*.pyc
*.pyo
.venv
venv
*.egg-info

# IDE
.idea
.vscode
*.swp

# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile*
docker-compose*.yml
.dockerignore

# Misc
*.md
logs/
*.log
